<div class="flash-message">
  <%= flash[:notice] %>
</div>
<h1><strong>Books</strong></h1>
<table class="list">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <span><%= link_to "Show", book_path(book.id) %></span>
        <span><%= link_to "Edit", edit_book_path(book.id) %>
        <span><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure ?" %></span>
      </td>
    <tr>
  <% end %>
</table>

<div class="create-form">
  <h2><strong>New book</strong></h2>
  <% if @book.errors.any? %>
    <div class="error-message">
      <p><%= @book.errors.count %> error prohibited this book from being saved:</p>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @book,url:books_path ,method: :post do |f| %>
    <p class="form-title">title</p>
    <%= f.text_field :title %>

    <p class="form-title">body</p>
    <%= f.text_area :body %><br>

    <%= f.submit 'Create Book' %>
  <% end %>
</div>